<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>META</title>
    <link rel="stylesheet" href="../dist/css/style.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/logos/unnamed.png" />
    <link rel="stylesheet" href="../libs/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="../libs/bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="preconnect" href="../https://fonts.googleapis.com">
    <link rel="preconnect" href="../https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wapper">
        <header>
            <div class="header">
                <div class="logo">
                    <a href="../index.html" class="text-white text-decoration-none">META</a>
                </div>
                <div class="search">
                    <div class="input-group">
                        <input id="search1" type="text" class="form-control" placeholder="Tìm kiếm...">
                        <button id="search2" class="btn btn-primary" type="button">Tìm kiếm</button>
                    </div>
                </div>
                <div class="cart">
                    <a href="#" class="text-white text-decoration-none"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</a>
                    <div class="cart-box">
                        <ul class="cart-items">
                        <li>
                            <img src="img/product1.jpg" alt="">
                            <div class="info">
                            <p>Sản phẩm A</p>
                            <span>1 x 150.000đ</span>
                            </div>
                        </li>
                        <li>
                            <img src="img/product2.jpg" alt="">
                            <div class="info">
                            <p>Sản phẩm B</p>
                            <span>2 x 200.000đ</span>
                            </div>
                        </li>
                        </ul>
                        <div class="cart-total">Tổng: <strong>550.000đ</strong></div>
                        <a href="#" class="btn-view-cart">Xem giỏ hàng</a>
                    </div>
                </div>
                <div class="hotline">
                    <a href="#" class="text-white text-decoration-none"> <i class="fa-solid fa-phone"></i>
                    Hotline</a>
                    <div class="hotline-box">
                        <p><strong>1900 1234</strong></p>
                        <p>Hỗ trợ 24/7</p>
                        <p>(08:00 - 21:00)</p>
                    </div>
                </div>
                <div class="login">
                    <a href="#" class="text-white text-decoration-none"><i class="fa-solid fa-user-tie"></i>
                    Đăng nhập</a>
                    <div class="login-box">
                        <ul>
                            <li><a href="#">Tra cứu đơn hàng</a></li>
                            <li><a href="#">Lịch sử mua hàng</a></li>
                            <li><a href="#">Lấy mã khuyến mãi</a></li>
                            <li><a href="#">Sản phẩm đã xem</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="container-center">
                <div class="container-menu">
                    <nav class="button-home">
                        <div id="icon_home">
                            <span class="title-menu">Điện máy</span>
                        </div>
                    <hr class="divider">
                        <div class="menu_box">
                            <ul class="menu-list">
                                <li>
                                    <a href="dieuhoa.html">
                                        <i class="fa-solid fa-compass"></i>
                                        <span>Điều hòa</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tivi.html">
                                        <i class="fa-solid fa-compass"></i>
                                        <span>Tivi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tulanh.html">
                                        <i class="fa-solid fa-compass"></i>
                                        <span>Tủ lạnh</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="maygiat.html">
                                        <i class="fa-solid fa-compass"></i>
                                        <span>Máy giặt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-solid fa-compass"></i>
                                        <span>Máy lọc không khí</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="container-right">
                    <div class="banner-top">
                        <img src="../images/Banner-990x280.png" width="880px" height="280px" alt="">
                    </div>
                    <div class="category">
                        <a href="#">
                            <div class="category-item">
                                <div class="discount">

                                </div>
                                <div class="imgName">
                                    <div class="imgCate">
                                        <span>
                                            <img src="../imgcate/c448-210x210.jpg" width="70px" height="70px" alt="">
                                        </span>
                                    </div>
                                    <div class="nameCate">
                                        <h3>Điều hòa</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="category-item">
                                <div class="discount">

                                </div>
                                <div class="imgName">
                                    <div class="imgCate">
                                        <span>
                                            <img src="../imgcate/c448-210x210.jpg" width="70px" height="70px" alt="">
                                        </span>
                                    </div>
                                    <div class="nameCate">
                                        <h3>Tivi</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="category-item">
                                <div class="discount">

                                </div>
                                <div class="imgName">
                                    <div class="imgCate">
                                        <span>
                                            <img src="../imgcate/c448-210x210.jpg" width="70px" height="70px" alt="">
                                        </span>
                                    </div>
                                    <div class="nameCate">
                                        <h3>Tủ lạnh</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="category-item">
                                <div class="discount">

                                </div>
                                <div class="imgName">
                                    <div class="imgCate">
                                        <span>
                                            <img src="../imgcate/c448-210x210.jpg" width="70px" height="70px" alt="">
                                        </span>
                                    </div>
                                    <div class="nameCate">
                                        <h3>Máy giặt</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="category-item">
                                <div class="discount">

                                </div>
                                <div class="imgName">
                                    <div class="imgCate">
                                        <span>
                                            <img src="../imgcate/c448-210x210.jpg" width="70px" height="70px" alt="">
                                        </span>
                                    </div>
                                    <div class="nameCate">
                                        <h3>Máy lọc không khí</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container-ls">
            <div class="ls-tt">
                <h3> Máy giặt </h3>
            </div>
            <div class="ls-main">
                <ul class="lm-list">
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../product-detail.html">
                            <div class="lazy-holder">
                                <div class="lz-discount">
                                    <span>-20%</span>
                                </div>
                                <div class="lz-img ">
                                    <img src="../img/dh.jpg" width="200px" height="200px" alt="">
                                </div>
                                <div class="lz-name">
                                        <h3>Nồi cơm điện</h3>
                                </div>
                                <div class="lz-brand">
                                    <span>Casper</span>
                                </div>
                            
                                <div class="abc d-flex align-items-center gap-2 ps-0 s">
                                    <div class="lz-price">
                                        <span>1.999.999 đ</span>
                                    </div>
                                    <div class="lz-rate">
                                        <p class="text-warning mb-0" style="font-size: 11px;">
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star me-0"></i>
                                        <i class="fas fa-star-half-alt me-0"></i>
                                        <span class="text-muted ms-2">(50)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="lz-price-old">
                                    <span>
                                        2.999.999 đ
                                    </span>
                                </div>
                                
                            </div>
                        </a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </div>
</body>
</html>