<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>META</title>
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="libs/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="libs/bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
</body>
</html>